<div class="col-xs-12">
            <div class="demo full main_slider_products fix_slider">
        <div class="item">            
            <div class="clearfix" >
                <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                    
                   {% for image in product.images %}
                  <li data-thumb="{{ image | img_url: 'original' }}"> 
                         <img src="{{ image | img_url: 'original' }}"  class="img-responsive">
                         </li>
                   {% endfor %}
                </ul>
            </div>
        </div>
    </div>
        </div>
<script>
    	 $(document).ready(function() {
			$("#content-slider").lightSlider({
                loop:true,
                keyPress:true
            });
            $('#image-gallery').lightSlider({
                gallery:true,
                item:1,
                thumbItem:5,
                slideMargin: 0,
                speed:500,
               auto:{%- if settings.enable_autoplay -%} true {%- else -%} false {%- endif -%},
                loop:true,
                onSliderLoad: function() {
                    $('#image-gallery').removeClass('cS-hidden');
                }  
            });
		});

    </script>