 <h2 class="p_title full">{{ product.title }}</h2>


{% schema %}
  {
    "name": "Product Title",
    "settings": [
      {
        "type": "color",
        "id": "product_title_color",
        "label": "Title Colour"
      }


]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
